@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

html, body{
    width: 100%;
    height: 100%;
    /*font-family: 'Gamja Flower';*/    
    color: #222;   
}
.navbar{
    background-color: rgba(36, 102, 69, 0.9) !important;
    position: fixed;
    top: 0;                                                 /* thanh navbar luôn ở trên khi cuộn web*/
    width: 100%;
    
}
.navbar li a{
    color: white !important;
}
.navbar li a:hover{
    color: black !important;
}

.jumbotron {
    background-image: url('england.jpg');
    background-size: cover;
    background-position: center;
    color: #a75656;                                 /* Màu chữ trên nền ảnh */
  }

  .button-container {
    text-align: right;
}

.test_list_image{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-show{
  width: 300px;
  overflow: hidden;
  position: relative;   /* bám nút*/
}
.list_images{
  display: flex;
  transition: 0.5s;
}
.btn:hover{
  color: white;
}
.btn{
  font-size: 60px;
  position: absolute;  /* bám ảnh*/
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  cursor: pointer;
}
.btn-left{
  left: 0;
}
.btn-right{
  right :0;
}


#image-slider {
    width: 400px;
    overflow: hidden;
  }
  
  #image-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: fit-content;
    transition: transform 0.5s ease-in-out;
  }
  
  /*li {
    flex: 0 0 100%;
  }
  */
  img_list {
    width: 100%;
    height: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Số cột trong grid */
    grid-gap: 10px; /* Khoảng cách giữa các mục hàng */
  }

  .grid-item {
    background-color: #ddd;
    padding: 10px;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .grid-item h3,                    /* cỡ chữ trong item*/
  .grid-item p {
    margin: 0;
  }
  
  .grid-item {
    background-color: #ddd;
    padding: 10px;
  }
  .grid-item:hover {
    background-color: #aaa;
  }


footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
}